{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatlible" content="IE=edge">
    <meta name="Viewport" content="width=device-width, inital-scale=1">

    <title>开往历史的列车,正在发车...</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                </button>
                <a class="navbar-brand" href="{% url 'leaning_logs:index' %}">开往历史的列车</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'leaning_logs:topics' %}">主题列表</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li>
                    <div class="dropdown" style="margin-top:8px">
                        <button class='btn btn-default dropdown-toggle' type='button' id='dropdownMenu' data-toggle='dropdown'>{{ user.username }}<span class='caret'></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'users:password_change' %}">修改密码</a></li>
                        </ul>
                    </div>
                </li>
                        <li><a href="{% url 'users:logout' %}"> 退出登录</a></li>
                    {% else %}
                        <li><a href="{% url 'users:register' %}"> 注册账户</a></li>
                        <li><a href="{% url 'users:login' %}"> 已有账户？登录</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <div class="page-header">
            {% block header %}{% endblock header %}
        </div>
        <div>
            {% block content %}{% endblock content %}
        </div>
    </div>
    <!-- /container -->
</body>
</html>