{% extends "leaning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h4>
        <a href="{% url 'leaning_logs:new_topic' %}">添加新的主题 </a>
    </h4>
{% endblock header %}

{% block content %}

    <h4>
        <!-- 点击进入主题 -->
        <a href="{% url 'leaning_logs:topic' topic.id %}">{{ topic }}</a>
    </h4>

    <form action="{% url 'leaning_logs:edit_entry'  entry.id %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!-- {{ form.as_p }} -->

        {% buttons %}
            <button name="submit" class="btn btn-primary"> 保存修改 </button>
        {% endbuttons%}

    </form>

{% endblock content %}