{% extends "leaning_logs/base.html" %}
{% block header %}
    <h2> 主题列表 </h2>
{% endblock header %}

{% block content %}
    <ul>
        {% for topic in topics %}
            <li>
                <h4>
                    <a href="{% url 'leaning_logs:topic' topic.id %}">{{ topic }}</a>
                </h4>
            </li>
        {% empty %}
            <li>No topics.html have been added yet.</li>
        {% endfor %}
    </ul>
    <h6>
        <a href="{% url 'leaning_logs:new_topic' %}">点击添加新的主题哦 </a>
    </h6>
{% endblock content %}