{% extends 'leaning_logs/base.html' %}

{% block header %}
  <h3>{{ topic}}</h3>
{% endblock header %}

{% block content %}

  <p>
    <a href="{% url 'leaning_logs:new_entry' topic.id %}">添加新的笔记 </a>
  </p>
  <ul>
  {% for entry in entries %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>
          {{ entry.date_added|date:'M d, Y H:i' }}
          <small>
            <a href="{% url 'leaning_logs:edit_entry' entry.id %}">编辑</a>
          </small>
        </h4>
      </div>

      <div class="panel-body">
        {{ entry.text|linebreaks }}
      </div>
      <!-- panel -->
    </div>

  {% empty %}
    当前主题下还没有笔记哦~，快去记录你的人生吧！
  {% endfor %}
  </ul>

{% endblock content %}
